
body {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

#resetbtn {
    width: 200px;
    height: 50px;
    font-size: 2em;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: paleturquoise;
}

#grid-container {
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    min-width: 800px;
    min-height: 800px;

    background-color: palevioletred;
}