body {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkslategrey;
}

img {
    max-height: 32px;
    max-width: 32px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdebe7;
}


#box-right {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    border-radius: 30px;
    background-color: #ef9273;
    margin-left: 300px;
    cursor: pointer;
}

#center-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 410px;
    gap: 30px;
}

#resetbtn {
    width: 200px;
    height: 50px;
    font-size: 2em;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: paleturquoise;
}

#grid-container {
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    min-width: 800px;
    min-height: 800px;

    background-color: palevioletred;
}
